<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder properties-ref="deployProperties" />

    <task:annotation-driven />

    <!-- telling container to take care of annotations stuff -->
    <context:annotation-config />

    <!-- Configures the annotation-driven Spring MVC Controller programming model.
    Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->
    <mvc:annotation-driven />

    <mvc:resources mapping="/resources/**" location="/resources/" cache-period="3600"/>
    <mvc:resources mapping="/react/**" location="/react/" cache-period="3600"/>

    <!-- Imports datasource configuration -->
    <import resource="spring-data.xml"/>

    <bean id="deployProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:location="classpath:spring-config/spring.properties" />

    <import resource="classpath:spring-config/spring-webmvc.xml"/>

</beans>
