<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Declare a datasource that has pooling capabilities-->
    <!-- Configuration for accessing JNDI Datasource -->
    <beans profile="prod">
        <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:comp/env/jdbc/springDataSource"/>
            <property name="lookupOnStartup" value="true"/>
            <property name="proxyInterface" value="javax.sql.DataSource"/>
        </bean>
    </beans>

</beans>
