.login-form > * {
    padding: 1em;
    font-family: Roboto, Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.customized {
    font-size: 0.55em;
    margin: 2em;
}
