* {
    font-family: 'Roboto', Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 85%;
    right: 0;
    margin-left: auto;
    padding-right: 10rem;
    padding-top: 2rem;
}

.left-body-wrapper, .right-body-wrapper {
    width: 50%;
}

.right-body-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.grid-item {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    background-color: #eee;
    flex-basis: 25%;
    flex-grow: 0;
    height: 15vh;
    width: 10vw;
}

.grid-item:hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.grid-item-text {
    text-align: center;
    font-family: Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    padding: 0.5em;
    font-size: 0.75em;
}

.recent-games-selected {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    padding: 1em;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}