.navigation-wrapper {
    display: flex;
    background-color: #1affb0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1em;
}

.app-title {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Roboto", "calibri", serif;
}

.app-logout-container {
    text-align: right;
}

.app-title:hover, .app-logout:hover {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.profile > span {
    font-family: Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.navigation-right-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    padding-right: 1vw;
    margin-left: auto;
}

.navigation-right-container > a {
    font-family: Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: white;
}