* {
    font-family: 'Roboto', Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.top-row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    justify-items: center;
    align-items: center;
}

.top-row * {
    display: inline-block;
}

.user-details > p, .profile > b {
    padding: 0.5em;
}

.button-form-container {
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    border: 1px solid black;
}

.button-form-container * {
    margin: 1em;
}

.login-return-button {
    text-align: center;
    padding: 3em;
}
