.button-form-container {
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    border: 1px solid black;
}

.button-form-container * {
    margin: 1em;
}
