/* Template styles */
.game-view-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.quest-text-left-column {
    background-color: #1f2454;
    height: 100%;
    width: 25%;
    font-size: 0.85em;
    color: white;
    padding: 1em;
}

.position-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
