* {
    font-family: 'Roboto', Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.top-row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    justify-items: center;
    align-items: center;
}

.top-row * {
    display: inline-block;
}

.user-details > b, .profile > b {
    padding: 0.5em;
}

.login-return-button {
    text-align: center;
    padding: 3em;
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-32.5vw);
    }
}
@-moz-keyframes slideIn {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-32.5vw);
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-32.5vw);
    }
}

.button-list-animation {
    position: relative;
    -webkit-animation: slideIn 1s forwards;
    -moz-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}
