.chat-view-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5vh;
}

.chat-box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 60vw;
    height: 60vh;
}

.chat-region {
    background-color: whitesmoke;
    width: 100%;
    height: 90%;
}

.message-box-container {
    display: flex;
    height: 10%;
    font-size: 1vw;
    font-family: 'Roboto', Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.message-box {
    width: 100%;
    height: 100%;
    border: 0;
    text-indent: 0.5vh;
}

.footer {
    padding: 5vh;
}

.footer > button {
    font-size: 0.75vw;
    padding: 1vh;
    border-radius: 10px;
}
