.login-template-title {
    font-size: 5em;
    font-family: Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: -moz-linear-gradient(left, #fff, #000);
}

.login-template-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 3em;
}
